body {
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}

header {
    background-color: #6146f1;
    padding-left: 20%;
    padding-right: 20%;
    display: flex;
    justify-content: space-between;
}

main {
    padding-left: 20%;
    padding-right: 20%;
}

.sessao2 {
    display: flex;
    align-items: center;
}

.sessao1 {
    display: flex;
    align-items: center;
}

.navegador {
    margin: 5px;
    color: white;
    text-decoration: none;
    font-size: large;
}

.caixaLinks {
    display: flex;
    align-items: center;
}

.icons {

    width: 20%;
    height: 20%;
}

.principal {
    display: flex;
}

.SessaoSemana {
    display: flex;
    flex-direction: column;
    width: 73%;
}

.centro {
    text-align: center;
}

.box {
    background-color: white;
    border-radius: 3px;
    border-style: solid;
    margin: 2%;
    width: 100%;
    color: gray;
    border-width: 2px;
    padding: 2%;

}

.SessaoDia {
    display: flex;
    align-items: center;
    margin: 1%;
    justify-items: space-between;
}

.anuncio {
    background-color: #6146f1;
    height: 40%;
    width: 25%;
    padding: 30px;
}

.BoxAtividades {
    width: 100%;
    height: 20%;
    border-color: green;
    border-style: solid;
    border-top: 0;
    border-right: 0;
    border-bottom: 0;
    border-left: 10;
    border-radius: 8px;
    text-align: center;
    margin-bottom: 4%;
    background-color: white;
}

.Atvmateria {
    border-radius: 10px;
    background-color: white;
    width: 20%;
    padding: 2%;
    height: 80%;
}

.atividades {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.CH {
    color: #F4511F;
    text-decoration: none;
    font-size: x-large;
}

.CN {
    color: #62AB97;
    text-decoration: none;
    font-size: x-large;


}

.Linguagens {
    color: #00829C;
    text-decoration: none;
    font-size: x-large;


}

.Mat {
    color: #9858D6;
    text-decoration: none;
    font-size: x-large;


}

.humanas {
    background-color: #F4511F;
    display: flex;
    align-items: center;

    justify-content: flex-start;
    border: 0;
    padding: 0;
}

.topo {
    display: flex;
    align-items: center;
    color: white;
    justify-content: flex-start space-around;
    margin: 10px;
}

.seta {
    height: 5%;
    width: 5%;
    filter: invert(100%);
    transform: rotateY(180deg);
}

.titulo {
    text-align: center;

}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    text-decoration: none;

}